body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #b5b5b5;
}

.instagram {
  position: relative;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  align-self: center;
  border-radius: 50%;

  /* GRADIENTE*/
  background: radial-gradient(
    circle at 30% 110%,
    #ffae0092 0%,
    #ff3c008b 25%,
    #ff008092 50%,
    #d900ff87 75%,
    #0044ff90 100%
  );
  box-shadow: 0 15px 40px 1px rgba(0, 0, 0, 0.3);
}

.instagram:hover {
  background-color: rgb(0, 0, 0);
  animation-name: Forever;
  animation-duration: 1s;
}

@keyframes Forever {
  50% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(150deg);
  }
}

.instagram span::after:hover {
  transform: rotate(0deg);
}

.instagram span {
  display: block;
  border: 15px solid #000000;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instagram span::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 15px solid #000000;
  top: 50%;
  left: -10%;
  transform: translate(50%, -50%);
}

.instagram span::after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;
  left: 115px;
  top: 23px;
  content: '';
  position: absolute;
}
